In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
import numericalunits as nu

# local imports
from context import bac
reload(bac)

Person = bac.Person
Drink = bac.Drink

In [3]:
# Some Drinks
ufo = Drink("UFO", 12, 4.8)
busch_heavy = Drink("BH", 40, 4.3)
jmh = Drink("Jamaican Me Happy", 12, 3.2)
kank_tall = Drink("Kank Tall Maple Porter", 16, 5.6)
shot = Drink("Shot", 1.25, 40.0)
water = Drink("Water", 12, 0.0)
angry = Drink("Angry Orchard", 12, 5.0)
downeast = Drink("Downeast", 12, 5.0)
rum = Drink("Bacardi", 1.5, 40.0)
half_rum = Drink("Bacardi", 0.75, 40.0)
sam_adams = Drink("Fresh as Helles", 12, 5.4)

In [4]:
# Some People
alex_coda = Person("Alex Coda", 23, 140)
alex_crist = Person("Alex Crist", 21, 165)
noah = Person("Noah Johnson", 21, 120)
malcolm = Person("Malcolm", 21, 145)

In [5]:
alex_coda.drink(drink=shot)
alex_coda.drink(drink=ufo)

In [6]:
alex_coda.drink_log

                        Drink        BAC
Time
2017-04-19 22:28:05.240  None          0
2017-04-19 22:28:27.046  Shot  0.0269125
2017-04-19 22:28:27.049   UFO  0.0539125